/*Root variables*/

:root {
    --first-color: rgba(56, 11, 141, 0.849);
    --second-color: rgb(0, 225, 255);
    --third-color: rgba(144, 22, 243, 0.952);
    --font-main-color: var(--second-color);
    --main-background-color: var(--first-color);
    --content-background: rgba(0, 0, 0, 0.5);
    --main-font: "press start 2p", arial;
    --gray-100: #e3e3e3;
}

/*Base*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

/*Positioning*/

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

/*Display*/

.flex {
    display: flex;
}

.block {
    display: block;
}

.none {
    display: none;
}

/*Layout*/

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/*Width*/

.w-full {
    width: 100%;
}

/*Font*/

.header-1{
    font-family: var(--main-font);
    font-size: 2.5rem;
    color: var(--font-main-color);
}

/*Video background*/

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.myvideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/*Content*/

.content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--content-background);
    width: 100%;
    height: 100%;
}

/*Logo*/

.logo {
    z-index: 10;
    padding: 1rem;
}

.logo img {
    width: 10rem;
    height:auto;
}

.header-link {
    z-index: 0;
    padding: 1rem .5rem;
}

.header-link a {
    font-size: 1.5rem;
}

.header-link i {
    font-size: 3rem;
    color: var(--third-color);
}

/*Footer*/

footer {
    left: 0;
    bottom: 0;
    font-size: 2.5rem;
}

footer a {
    margin: 1rem;
    color: var(--second-color);
}

/*Footer Pic*/

.osfpic{
    left: 50px;
    bottom: 1px;
    z-index: -1;
}

.rounded {
    border-radius: 5%;
}

.osfpic::before {
    content: "About Me";
    position: absolute;
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--third-color);
    margin: -20px 5px 5px 20px;
}

/*JS Button*/


@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


.poop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1c1624;
    overflow: hidden;
    font-family: "Russo One", sans-serif;
    transform-style: preserve-3d;
}

.button {
    position: fixed;
    margin: 0 auto;
    width: 50px;
    border:5px solid #fae428;
    color: #fae428;
    border-radius: 0.1em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    height: 50px;
    opacity: 1;
    transition: all 0.2s ease;
    line-height: 30px;
    perspective: 1000px;
    transform-style: preserve-3d;
    perspective-origin: 49% 50%;
    display: flex;
    justify-content: center;
}

    p {
        transition: all 0.2s ease;
        user-select: none;
        line-height: 33px;
        position: absolute;
    }
